{% extends "base.html.twig" %}

{% block title %}{{ confirm_title }}{% endblock %}

{% block content %}
{% include "sidebar.html.twig" %}
    <div class="col-xs-12 col-sm-9">
        <div class="panel {% if is_delete %}panel-danger{% else %}panel-default{% endif %}">
            <div class="panel-heading">
                <h3 class="panel-title">{{ confirm_title }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ confirm_message }}</p>
                <form role="form" action="{{ action }}" method="{{ method }}">
                    <div class="centered">
                        <button type="submit" name="confirm" class="btn {% if is_delete %}btn-danger{% else %}btn-primary{% endif %}">Sí</button>
                        <button type="submit" name="confirm_no" class="btn btn-default">No</button>
                        {% if is_delete %}
                        <input type="hidden" name="_METHOD" value="DELETE"/>
                        {% endif %}
                        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
