<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function() {
        copiesCreationInit();
        
        hide = function(elem) {
            if (elem == undefined) return;
            window.setTimeout(function() {
                if (elem == undefined) return;
                elem.className += ' hidden';
            }, 2000);
        }
        
        hide(document.getElementById('backend-error'));
        hide(document.getElementById('backend-success'));
    });
</script>

<form role="form" class="form-horizontal" onsubmit="return canSubmitCopiesCreationForm(this);" method="POST" action="{{ urlFor('copies_create') }}">
    {% if flash['error'] %}
        <div class="alert alert-danger" id="backend-error">
            {{ flash['error']|raw }}
        </div>
    {% endif %}
    {% if flash['success'] %}
        <div class="alert alert-success" id="backend-success">
            {{ flash['success']|raw }}
        </div>
    {% endif %}
    <div class="alert alert-danger hidden" id="alert-box"></div>
    <div class="form-group">
        <label for="nivel" class="col-sm-4 control-label">Nivel</label>
        <div class="col-sm-8">
            <select class="form-control" id="nivel" name="nivel">
            </select>
        </div>
    </div>
    
    <div class="form-group hidden">
        <label for="asignatura" class="col-sm-4 control-label">Asignatura</label>
        <div class="col-sm-8">
            <select class="form-control" id="asignatura" name="asignatura">
            </select>
        </div>
    </div>
    
    <div class="form-group hidden">
        <label for="libro" class="col-sm-4 control-label">Libro</label>
        <div class="col-sm-8">
            <select class="form-control" id="libro" name="libro">
            </select>
        </div>
    </div>
    
    <div id="copy-code-box" class="hidden">
        <div class="form-group">
            <label for="codigo" class="col-sm-4 control-label">Código del ejemplar 1</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="codigo_1" name="codigo[]" placeholder="Código del ejemplar...">
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <button id="add-another-copy" class="btn hidden" data-num="2" onclick="addAnotherCopy(this); return false;">Añadir otro ejemplar</button>
    </div>
    <br />
    <div class="form-group text-center">
        <button type="submit" id="create-submit-button" disabled="true" class="btn btn-primary">Dar ejemplares de alta</button>
    </div>
    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
</form>