<div class="col-xs-12 col-sm-3" id="sidebar" role="navigation">
    <div class="panel panel-sidebar">
        <h4>Navegación</h4>
        <ul class="nav bs-sidenav">
            <li><a href="{{ urlFor('users_index') }}" {% if sidebar_users_active %}class="active"{% endif %}>Gestionar usuarios</a></li>
            <li><a href="{{ urlFor('students_index') }}" {% if sidebar_students_active %}class="active"{% endif %}>Gestionar alumnos</a></li>
            <li><a href="{{ urlFor('books_index') }}" {% if sidebar_books_active %}class="active"{% endif %}>Gestionar libros</a></li>
            <li><a href="">Gestionar ejemplares</a></li>
            <li><a href="{{ urlFor('levels_index') }}" {% if sidebar_levels_active %}class="active"{% endif %}>Gestionar niveles</a></li>
            <li><a href="{{ urlFor('subjects_index') }}" {% if sidebar_subjects_active %}class="active"{% endif %}>Gestionar asignaturas</a></li>
        </ul>
    </div>
</div>