{% extends "base.html.twig" %}

{% block title %}Gestión de usuarios{% endblock %}

{% block content %}
{% include "sidebar.html.twig" %}
    <div class="col-xs-12 col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Gestión de usuarios</h3>
            </div>
            <div class="panel-body">
                {% if is_admin %}<button class="btn btn-primary pull-right" onclick="showUserEditor();"><span class="fa fa-plus"></span> Crear usuario</button>{% endif %}
                <h2>Listado de usuarios</h2>
                {% if users %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre de usuario</th>
                            <th>Nombre completo</th>
                            <th>Administrador</th>
                            {% if is_admin %}<th>Acciones</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.nombre_usuario }}</td>
                            <td>{{ user.nombre_completo }}</td>
                            <td>{% if user.es_admin == 1 %}Sí{% else %}No{% endif %}</td>
                            {% if is_admin %}<td><button data-id="{{ user.id }}" data-name="{{ user.nombre_completo }}" data-username="{{ user.nombre_usuario }}" data-is-admin="{{ user.es_admin }}" class="btn btn-sm btn-default" onclick="showUserEditor(this); return false;"><span class="fa fa-edit"></span> Editar</button> <button data-id="{{ user.id }}" data-name="{{ user.nombre_completo }}" data-username="{{ user.nombre_usuario }}" data-is-admin="{{ user.es_admin }}" class="btn btn-sm btn-danger" onclick="deleteUser(this); return false;"><span class="fa fa-times-circle"></span> Borrar</button></td>{% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if pagination != '' %}
                <div class="centered">
                    <ul class="pagination">
                        {{ pagination|raw }}
                    </ul>
                </div>
                {% endif %}
                {% else %}
                <div class="alert alert-warning">
                    No hay ningún usuario.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% if is_admin %}
{% block modal_body %}
<div class="hidden" id="editor-panel">
    <form role="form" class="form-horizontal" onsubmit="return false;">
        <div class="form-group">
            <label for="nombre_usuario" class="col-sm-3 control-label">Nombre de usuario</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre de usuario...">
            </div>
        </div>

        <div class="form-group">
            <label for="nombre_completo" class="col-sm-3 control-label">Nombre completo</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="nombre_completo" name="nombre_completo" placeholder="Nombre completo...">
            </div>
        </div>

        <div class="form-group">
            <label for="usuario_pass" class="col-sm-3 control-label">Contraseña</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="usuario_pass" name="usuario_pass" placeholder="Contraseña...">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="es_admin" id="es_admin" value="1"> ¿Es administrador?
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="hidden" id="delete-panel">
</div>
{% endblock %}

{% block modal_footer %}
<div class="hidden" id="editor-actions">
    <button id="create-button" class="btn btn-primary">Crear usuario</button> <button id="cancel-create" class="btn btn-default">Cancelar</button>
</div>
<div class="hidden" id="delete-actions">
    <button id="delete-button" class="btn btn-danger">Borrar usuario</button> <button id="cancel-delete" class="btn btn-default">Cancelar</button>
</div>
{% endblock %}
{% endif %}
